.left-section {
    background-color: lightcoral;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .right-section {
    background-color: lightgreen;
    padding: 20px;
    height: 100vh;
  }
  
  .title {
    background-color: lightblue;
    padding: 20px;
  }

  .games {
    background-color: lightgreen;
    padding: 20px;
  }
  