/* Team Component */

.team {
    background-color: #222;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .team h2 {
    margin-bottom: 15px;
  }
  
  .team h3 {
    margin-top: 15px;
  }
  
  .team ul {
    margin-top: 10px;
  }
  
  .team ul li {
    list-style-type: none;
  }

  
  .display {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
  }


  
  /*

  .game-selected {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
  }*/